

.hero-image{
    position: relative;
    height: 600px;
    overflow: hidden;
    background-size: cover; 
}
#home_image{
    background: url(../images/bromo.jpg) no-repeat center;
}
#trip_image{
    background: url(../images/baluran.jpg) no-repeat center;
}
#service_image{
    background: url(../images/bromoSemeru.jpg) no-repeat center;
}

.container{
    position: absolute;
    top: 60%;
    left: 75%;
    overflow: hidden;
    text-align: right;
    color: white;
    font-weight: 700;
    text-shadow: 0 3 6px black;
    transform: translate(-50%,-50%);
}

.containerTrip{
    position: absolute;
    top: 75%;
    left: 13%;
    overflow: hidden;
    text-align: right;
    color: white;
    font-weight: 700;
    text-shadow: 0 3 6px black;
    transform: translate(-50%,-50%);
}

.container h1{
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.85;
    font-weight: bold;
}

.containerTrip h1{
    margin: 0px;
    padding: 0px;
    font-size: 45px;
    opacity: 0.85;
    font-weight: bold;
}

.des{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.85;
}

.desTrip{
    margin: 0px;
    margin-right: 45px;
    padding: 0px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.55;
}
.navigasi {
    display: block;
    margin: 0;padding: 0;
    background: white;
}
.navigasi > .nav-menu {
    position: relative;
    margin: 0;padding: 0px;
    list-style: none;
    transition: all .4s ease;
    background: white;
}
.btn-responsive {
    position: absolute;
    display: none;
    top: 9px;right: 5px;
    margin: 0;padding: 0;
    width: 50px;height: 50px;
    cursor: pointer;
    z-index: 100;
}
.btn-responsive > .bar {
    position: absolute;
    top: 12px;left: 10px;
    width: 25px;height: 3px;
    background: #3E9CEE;
}
.btn-responsive > .bar:nth-child(1) {
    top: 20px;
}
.btn-responsive > .bar:nth-child(2) {
    top: 28px;
}
.menu nav{
    float: right;
    padding: 20px 10px;
}

.menu{
    position: absolute;
    padding: 0px 30px;
    margin: 0px;
    top: 8%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    background: white;
    border-radius: 8px;
}

.menu h4{
    letter-spacing: 0.3em;
    float: left;
    padding: 0px 10px;
}

.menu nav ul{
    padding: 0;
    margin: 0;
    padding: 0px 10px;
}

.menu nav ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
    padding: 0px 10px;
}

.menu nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 17px 3px;
    font-size: 12px;
}

.active{
    color: #3E9CEE;
    border-bottom: 7px solid #3E9CEE;
}

nav ul li img{
    width: 15px;
}

.search{
    position: absolute;
    padding: 0px 10px;
    margin: 0px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    background: white;
    border-radius: 8px;
}

.searchTrip{
    position: absolute;
    padding: 0px 10px;
    margin: 0px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 680px;
    background:#4d4d33;
    border-radius: 8px;
}

.search form{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search form span{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
}

.search form input{
    margin-right: 20px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 15px;
    height: 15px;
    border: 2px solid #3E9CEE;
}

.search form select{
    margin-right: 20px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 15px;
    border: 2px solid #3E9CEE; 
}

.search form button{
    background-color: #3E9CEE;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
}

.member{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    font-size: 12px;
    color: white;
    text-align: center;
}

.member h3{
    padding: 0px;
    margin: 0px;
}

.member a{
    font-weight: bold;
    text-decoration: none;
    color: #3E9CEE;
}

.destinasiPopuler{
    padding: 20px;
    background-color: white;
    position: relative;
}

.title{
    background-color: white;
    padding-top: 50px;
}

.titleTrip{
    background-color:#f5f5f0;
    padding-top: 50px;
}

.titleTrip h1{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    color: #3E9CEE;
}

.title .line{
    background-color: #3E9CEE;
    width: 30px;
    height: 5px;
    position: absolute;
    color: #3E9CEE;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    color: #3E9CEE;
}

.populer{
    background-color: white;
    padding: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.populer .konten{
    position: relative;
    float: left;
    padding: 0px 45px;
    padding-bottom: 70px;
}

.populer .konten img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.populer .konten h3{
    font-size: 16px;
    padding: 0px;
    padding-top: 10px;
}

.populer .konten p{
    width: 250px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    padding: 5px 0px;
}

.populer .konten .rating{
    padding-top: 30px;
}

.populer .konten .rating img{
    width: 10px;
    height: 10px;
}

.populer .konten .rating h6{
    float: right;
    margin: 0;
    font-size: 10px;
}

.wisata{
    padding: 20px;
    position: relative;
    background-color: #3E9CEE;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trip{
    padding: 20px;
    position: relative;
    background-color:#f5f5f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trip .konten{
    border-radius: 8px;
    width: 320px;
    background-color:white;
    padding: 8px 0px;
    margin: 10px;
}

.trip .konten .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.trip .konten h3{
    padding: 0px;
    font-size: 14px;
}

.trip .konten .rating{
    display: flex;
    flex-direction: column;
}

.trip .konten .rating .star img{
    width: 10px;
    height: 10px;
    float: right;
}

.trip .konten .rating h5{
    margin: 0px;
    font-size: 10px;
    padding: 5px 0px;
    color: darkgray;
}

.trip .konten .foto{
    width: 320px;
    height: 200px;
    object-fit: cover;
}

.trip .konten p{
    padding: 0px 20px;
    height: 48px;
    overflow: hidden;
    font-size: 11px;
}

.trip .konten button{
    background-color: #3E9CEE;
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
}

.wisata .konten{
    border-radius: 8px;
    width: 320px;
    background-color: white;
    padding: 8px 0px;
    margin: 10px;
}

.wisata .konten .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.wisata .konten h3{
    padding: 0px;
    font-size: 14px;
}

.wisata .konten .rating{
    display: flex;
    flex-direction: column;
}

.wisata .konten .rating .star img{
    width: 10px;
    height: 10px;
    float: right;
}

.wisata .konten .rating h5{
    margin: 0px;
    font-size: 10px;
    padding: 5px 0px;
    color: darkgray;
}

.wisata .konten .foto{
    width: 320px;
    height: 200px;
    object-fit: cover;
}

.wisata .konten p{
    padding: 0px 20px;
    height: 48px;
    overflow: hidden;
    font-size: 11px;
}

.wisata .konten button{
    background-color: #3E9CEE;
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 30px;
}
#footerDark{
    background-color: #005FB1;
}

#footerBlue{
    background-color: #3E9CEE;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
}

.footer nav{
    float: right;
    margin: 18px 0px;
}

.footer nav ul{
    padding: 0;
    margin: 0;
}

.footer nav ul li{
    list-style: none;
    float: left;
}

.footer nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 17px 0px;
    font-size: 12px;
    padding-right: 20px;
}

.tulisanKiri{
    font-size: 25px;
}

.tulisanKiri h3{
    letter-spacing: 0.3em;
    float: left;
    padding: 0px 50px;
    margin: 15px 0px;
}

.tulisanKanan{
    padding: 0px 50px;
    font-size: 18px;
}

.service{
    background-color: white;
    padding: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.service .konten{
    position: relative;
    padding: 0px 45px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service .konten img{
    height: 100px;
}

.service .konten h3{
    font-size: 16px;
    color: #3E9CEE;
    padding: 0px;
    padding-top: 10px;
    text-align: center;
}


.service .konten p{
    width: 250px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    padding: 5px 0px;
    text-align: center;
}

.pagination {
    display: inline-block;
  }

.pagination a.active {
    background-color: #3E9CEE;
    color: white;
  }

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    width: 250px;
    height: 150px;
}

#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 15px;
}
#topBtn img{
    background-color: white;
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

.detail{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
    text-shadow: 0 3 6px black;
    transform: translate(-50%,-50%);
}

.detail .lokasi {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.1em;
    opacity: 0.85;
    text-transform: uppercase;
}

.detail .judul{
    margin: 0px;
    padding: 0px;
    font-size: 70px;
    opacity: 0.85;
    font-weight: bold;
    text-transform: uppercase;
}

.data {
    padding: 20px 150px;
    background-color: white;
    display: flex;
    position: relative;
}

.data .foto{
    padding: 20px;
}

.data .informasi{
    padding: 20px;
}

.data .informasi h1{
    text-transform: uppercase;
    margin: 0px;
    color: #3E9CEE;
    font-size: 40px;
}
.data .informasi p{
    margin: 0px;
    font-size: 14px;
}

.data .informasi h3{
    display: flex;
    align-items: center;
}

.data .foto img {
    width: 420px;
    height: 300px;
    object-fit: cover;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 900px) {
    .nav-menu {
        max-height: 0;
        overflow: hidden;
    }
    .nav-menu > li {
        display: block;
    }
    .btn-responsive {
        display: block;
    }
    #btn-responsive:checked ~ .nav-menu {
        max-height: 300px;
        overflow: visible;
    }
    .menu nav {
        padding: 0px 0px;
    }

    .menu nav ul li{
        list-style: none;
        float: left;
        margin-left: 0px;
        padding: 0px 10px;
        display: flex;
    }
}
@media screen and (max-width: 1000px) {
    .search form input{
        margin-right: 0px;
        padding: 5px 15px;
    }
    .search form select{
        margin-right: 5px;
    }
    .search div{
        margin-bottom: 3px;
    }

    
}
@media screen and (max-width: 800px) {
    .container{
        top: 45%;
        left: 50%;
        overflow: hidden;
        text-align: center;
        
    }
}

@media screen and (max-width: 750px) {
    .search{
        top: 85%;
    }  
    .search form{
        flex-direction: column;
    }

    .search form input{
        margin-right: 0px;
        padding: 5px 15px;
    }

    .search div{
        margin-bottom: 3px;
    }
    .member{
        top: 70%;
    }

    .search form button{
        background-color: #3E9CEE;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-top: 10px;
        border-radius: 5px;
        width: 200px;
    }
}

